langchain
langchain-core
langchain-community
langchain-mistralai
tavily-python
BeautifulSoup4
requests
lxml
pandas
numpy
tiktoken
rich
tenacity
orjson
pydantic
python-dotenv
html5lib
streamlit
